<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2019 - 2023 Jolla Ltd. -->
<!-- SPDX-FileCopyrightText: 2026 Jolla Mobile Ltd -->
<!-- SPDX-License-Identifier: BSD-3-Clause -->
<service id="rss-posts">
    <type>posts</type>
    <name>Posts</name>
    <icon>image://theme/icon-l-rss</icon>
    <provider>rss</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["rss.Posts"]</setting>
        <setting name="requires_auth" type="b">false</setting>
        <setting name="auth_username"></setting>
        <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
        </group>
    </template>
</service>
